{% extends 'base.html.twig' %}

{% block body %}

<div>
    <h1 style="text-align:center; margin-top:5%;">Enregistrer une bougie</h1>
        
        {{ form_start(form, {'attr':{'id':'formlogin'}})}}
        {{form_row(form.titre, {'label':'Ajouter le nom de la bougie:','attr':{'placeholder': 'Saisissez le nom de la bougie..'}})}}
        {{form_row(form.image, {'label':'Choisir une image:','attr':{'placeholder': 'image'}})}}
        {{form_row(form.prix, {'label':'Saisir le prix:','attr':{'placeholder': 'ex: 10.99€'}})}}
        {{form_row(form.commentaire, {'label':'Saisir la description du produit:','attr':{'placeholder': 'Entrez la description...'}})}}
        <button type="submit" class="btn btn-success" id="bougieAjoutButton">
            Ajouter!
        </button>
        {{form_end(form)}}
</div>
<div id="boutonsAdmin">

    <a href="{{path('listeCmd')}}" class="btn btn-warning">
                    Commandes
    </a>

    <a href="{{path('admin_utilisateurs')}}" class="btn btn-danger">
                    Liste utilisateur
    </a>

</div>


{% endblock %}