{% extends 'base.html.twig' %}

{% block body %}

<h1 style="text-align:center; margin-top:5%;">Formulaire d'inscription</h1>

    {{ form_start(form)}}
    {{form_row(form.username, {'label':'Nom d\'utilisateur','attr':{'placeholder': 'entrez votre indentifiant...'}})}}
    {{form_row(form.email, {'attr':{'placeholder': 'entrez votre adresse email...'}})}}
    {{form_row(form.password, {'label':'Mot de passe','attr':{'placeholder': 'entrez votre mot de passe...'}})}}
    {{form_row(form.confirm_password, {'label':'Confirmation du mot de passe','attr':{'placeholder': 'confirmez votre mot de passe...'}})}}
    {{form_row(form.adresse, {'label':'Adresse:','attr':{'placeholder': 'Entrez votre adresse'}})}}
    {{form_row(form.codePostal, {'label':'Code postal:','attr':{'placeholder': 'ex:10250'}})}}
    {{form_row(form.ville, {'label':'Ville:'})}}
    {{form_row(form.tel, {'label':'Téléphone:','attr':{'placeholder': 'ex:06/06/06/06/06'}})}}
    <button type="submit" class="btn btn-success" id="inscriptionbutton">
        Inscription!
    </button>
    {{form_end(form)}}
{% endblock %}